body{
    background-color: rgb(110, 17, 17);
}
#text{
    float: inline-start;
    font-family: 'Consolas';
    font-style: italic;
    font-size: 32px;
    color: yellowgreen;
    text-shadow: 0 0 5px yellowgreen,0 0 2px yellowgreen; 
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5x;
}